.messagePosition{
    position: fixed;
    text-decoration: none;
    right: 20px;
    bottom: 20px;
}

.message {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    transition: opacity 0.5s ease-out;
  }
  
  .message-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  
  .message-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  
  .message-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
  }
  
  .message-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }
  