/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";


body{
    color : #566573;
}

.page {
    background-color: white;
    width: 100%;
    height:100vh;
    left: 0;
    float:left;
    overflow-y:hidden; 
    overflow-x:hidden;
}

.blocHome {
    Xbackground: url(assets/images/jardin.jpg) no-repeat center fixed; 
    Xbackground-size: cover; /* version standardis�e */
    padding: 6%;
    width: 100%;
    height:100%;
    left: 0;
    bottom: 0;
    float:left;
    overflow-y:auto; 
    overflow-x:auto;
}




.blocFavoris {
    width: 100%;
    height:100%;
    left: 0;
    bottom: 0;
    float:left;
    overflow-y:auto; 
    overflow-x:auto;
}
.blocDetail {
    width: 100%;
    height: calc(50vh - 30px);
    left: 0;
    float:bottom;
    overflow-y:auto; 
    overflow-x:auto;
}
.blocDetailMain000{
    width: 100%;
    height: 80%;
}


.detail {
    background-color:#D0ECE7;
}
.entete {
    background-color: #D0ECE7;
    border-bottom: 1px solid #566573;
}

.ligne{
    height: 1px;
    background-color: #566573;
    width: 100%;
}
.ligneClose{
    margin-top: -1px;
}
.btnClose{
    padding: 5px;
    border-bottom-left-radius : 5px;
    border-bottom-right-radius : 5px;
    background-color: #566573;
    text-decoration: none;
    color: white;
}

.my100d{
    width: 100%;
    text-align: right;
}
.my100c{
    width: 100%;
    text-align: center;
}
.myspacex{
    padding-left: 10px;
    padding-right: 10px;
}

.myspacexl{
    padding-left: 5%;
    padding-right: 5%;
}



.mybtn{
    background-color: #566573;
}


.mytable {
    background-color: white;
}

.mytable:hover {
    background-color: #D0ECE7;
    Xfont-style : italic;
    transform: translateX(2px);
}




::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb {
    background: rgb(208, 171, 223); 
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb:hover {
    background: rgb(130, 105, 139); 
  }
